@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 87.5%;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  @apply flex items-center bg-slate-50 shadow-sm  justify-between w-full top-0 z-10 h-[4.5rem] p-[2rem] sticky;
}
/* #header-logo {
  @apply h-20;
} */
.nav-link {
  @apply text-2xl font-semibold text-[#181b21] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}

.basic_section {
  @apply w-full h-screen relative py-8;
}
#games-list {
  @apply grid grid-cols-3 gap-2 grid-flow-row place-items-center py-2;
}
.game-card-div {
  @apply max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-0 m-0;
}
.game-card-details {
  @apply p-2;
}

.game-card-details h5 {
  @apply mb-2 text-xl text-center font-bold tracking-tight text-gray-900 dark:text-white;
}

.game-card-image {
  @apply rounded-t-lg object-contain justify-center;
}
.game-card-sub-details {
  @apply flex flex-col text-left;
}
.game-card-border {
  @apply w-[1px] bg-black h-auto border-l-2 border-solid border-black ml-2 place-content-center;
}
.game-card-details {
  @apply mb-3 font-normal text-gray-700 dark:text-gray-400;
}

.game-card-rating {
  @apply text-left justify-start;
}

.game-card-genres ul {
  @apply grid grid-flow-col;
}
